* {
    box-sizing: border-box;
}

.signin {
   margin: 50px auto 10px;
   width: 500px;
   height: 280px;
}

.register {
    margin: 50px auto 10px;
    width: 500px;
    height: 380px;
}

.signinform {
    margin-top: 20px;
    text-align: center;
}

.signintitle {
    padding: 20px 9px 6px 9px;
    font-size: 26px;
    height: 50px;
    text-align: center;
    font-weight: 600;
}

.formrow {
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

.formrow .input {
    font-size: 15px;
    color: #cacaca;
    border: 1px solid #282828;
    padding: 6px;
    display: block;
    line-height: 1.4;
    text-align: left;
    background-color: #333;
}

.block {
    text-align: center;
}


.form-control {
    width: 200px;
    font-size: 18px;
    box-shadow: none;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: none;
}

.form-submit {
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    background-color: #e2610b;
    border: 0;
    border-radius: 4px;
}

.deleteimage {
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    background-color: #ff0101;
    border: 0;
    border-radius: 4px;
}

.deleteimage:hover {
    background-color: #ff6565;
}

.form-submit:hover {
    background-color: #e08a50;
}

.messageForm {
    margin: 0 auto;
    padding-top: 60px;
    width: 500px;
    height: 280px;
}

.uploadform {
    margin-top: 10px;
}

.messagebox {
    width: 420px;
    height: 80px;
    border-radius: 4px;
    border: none;
}

.header {
    font-size: 25px;
}


.navigation {
    margin: 0 auto;
    background: #060916;
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}


.nav-wrapper {
    width: 100%;
    height: 100%;
}

#nav {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav-inner {
    max-width: 100%;
    padding: 20px 12px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.nav-links {
    margin-left: 25px;
    display: flex;
}


#username {
    margin-left: 10px;
    font-weight: bold;
    color: greenyellow;
    font-size: 20px;
}

#link {
    justify-content: flex-end;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

#link:hover {
    color: greenyellow;
}

.nav-right {
    margin-left: auto;
    margin-right: 10px;
    float: left;
    text-align: right;
    justify-content: flex-end;
}

.feed {
    margin-top: 400px;
    color: #000;
}

.profile {
    margin-top: 5px;
}

.frontheader {
    padding-top: 5px;
    margin-top: 10px;
}

.frontblock {
    margin-top: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.images {
    list-style: none;
    display: block;
    float: left;
}

.frontimage {
    width: 250px;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    display: block;
    opacity: 0.8;
}

.frontimage:hover {
    opacity: 1;
}

.bigImage{
    border: 2px solid rgb(216, 216, 216);
}

.bigImage:hover{
    opacity: 0.9;
}

.messageList{
    margin: 0;
    padding: 0;
}

.messagefeed {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    border-radius: 4px;
}

.name{
    margin: 3px;
    padding: 1px;
    font-weight: 900;
}

.message{
    margin: 3px;
    padding: 1px;
    text-align: justify;
    text-rendering: auto;
    word-spacing: normal;
    max-width: 750px;
}

.newMessages {
    margin-left: 20px;
}

.newMessagesSmallDevice{
    display: none;
}

.newMessagesNumber{
    color:#e2610b;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 18px;
}

.newMessagesList{
    background: #0f163d;
    display: block;
    z-index: 1002;
    position: absolute;
    top: 68px;
    left: 250px;
    width: auto;
    border-radius: 3px;
    color: greenyellow;
}

.newMessageListText{
    margin-right: 35px;
}


@media(max-width: 800px){
    .bigImage{
        max-width: 100%;
    }
    .nav-links{
        display: none;
    }
    .nav-right{
        display: none;
    }
    #username {
        margin-left: 30px;
    }
    .frontblock{
        justify-content: center;
        flex-direction: column;
    }
    .images{
        float: none;
    }
    .frontimage{
        width: 100%;
        height: 300px;
    }
    .signin{
        margin-top: 80px;
        width: 100%;
    }
    .register{
        margin-top: 80px;
        width: 100%;
    }
    .messagefeed{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    .messageForm{
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .signintitle{
        margin: 0;
        padding: 0;
    }
    .signinform{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .formrow{
        width: 100%;
    }
    .form-control{
        height: 38px;
    }
    .messagebox{
        width: 100%;
        height: 100px;
    }
    .newMessagesSmallDevice{
        margin-left: 20px;
        display: inline;
    }
    .newMessages{
        display: none;
    }
    .newMessagesList{
        left: 10px;
        opacity: 0.9;
    }
    .newMessageListText{
        margin: 5 auto;
        font-size: 15px;
    }
    
}


